// _footer.scss
.footer__link {
    color: $color-principal;
    text-decoration: none;
    transition: color $transicion;

    &:hover {
        color: $color-principal;
        text-decoration: underline;
    }
}
